@import './../../resources/template.scss';

.input-container{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    input{
        border: none;
        border-bottom: 2px solid $dark-shade;
        font-size: 18px;
        outline: none;
        padding: 10px 15px;
        box-shadow: none;
        &::placeholder{
            color: $gray;
        }
    }
}