<section class="login-main-con">
    <img class="main-background" src="./../../../assets/img/login_background.png" alt="Login Sides">
    <div class="main-content">
        <div  class="logo-con">
            <img class="logo" src="./../../../assets/img/hrm_logo.png" alt="Logo">
        </div>
        <div class="content-con">
            <h2 class="main-heading font-bold justify-center left-36"  >LOGIN</h2>
            <h2 class="flex justify-center mt-4"  >Sign in and start managing your candidates!</h2>
            <app-textfield
            [type]="'email'"
            [placeholder]="'Email'"
            ></app-textfield>
            <app-textfield
            [type]="'password'"
            [placeholder]="'Password'"

            ></app-textfield>
            <div>
                <a [routerLink]="['/auth/forgot']">Forgot Password</a>
            </div>
            <button class="primary-button">LOGIN</button>
        </div>
    </div>
</section>