// Theming variables
$primary: #00D4E7;
$primary-100: #74bcff;
$dark: #29292D;
$background: #F3F3F3;
$md-shade: #F2F4F6;
$dark-shade: #E7EBED;
$gray: #9BA5B7;
$gray-100: #e8e9ec;
$gray-50: #F0F1F2;
$dark-green: #0D4744;
$green: #08C299;
$light-green: #00CC66;
$yellow: #FFCF00;
$red: #E2434B;
$orange: #EF6C35;
$white: #ffffff;
$blue: #429FFD;




@mixin transition($property, $duration, $timing-function) {
	-webkit-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}


@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    display: -webkit-flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}