@import './../../utils/resources/template.scss';

.main-con{
    min-height: 100vh;
    margin: 30px 30px 0px 30px;
    background-color: $background;

    .title-text{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}