@import './../../resources/template.scss';

.input-container{
    width: 100%;
    position: relative;
    .icon{
        position: absolute;
        top: 12px;
        left: 14px;
        width: 19px;
        height: 21px;
    }
    input{
        border: none;
        font-size: 16px;
        outline: none;
        background-color: $gray-100;
        border-radius: 10px;
        padding: 10px 15px;
        padding-left: 45px;
        box-shadow: none;
        &::placeholder{
            color: $gray;
        }
    }
}