.attendance-container{
    height:70px;
    width: 232px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: safe;
    padding: 0 10px ;
    
    margin-bottom: 10px;
    margin-left: 10px;
    .after-mimic {
        left: 0px;
        top: 0px;
        width: 8px;
        height: 100%;
        position: absolute;
        border-radius: 8px 0px 0px 8px;
    }
   
}