@import '/src/app/utils/resources/template.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Maven Pro";
	src: url("./assets/fonts/MavenPro-Regular.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "Sora";
	src: url("./assets/fonts/MavenPro-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Sora";
	src: url("./assets/fonts/MavenPro-SemiBold.ttf");
	font-weight: 600;
}

*{
	font-family: "Sora";
}

a, a:hover, a:active{cursor: pointer;text-decoration: none;}

a:not([href]):not([tabindex]){color: inherit;cursor: pointer;}

.splashContainer{
    background-color: $dark;
    // background-image: url("./assets/img/background.jpg");
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 400px;
    }
}
html, body { height: 100%; }
body { overflow-x: hidden; margin: 0; font-family: "Sora"; color: $dark;}

h1, h2, h3, h4, h5, h6, p{
  color: $dark;
}

input{
  width: 100%;
  color: $dark;
}

.primary-button{
  width: 100%;
  background-color: $primary;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  padding: 14px 0;
  cursor: pointer;
  &:focus{
      outline: 2px solid $primary-100;
  }
}


*{
  box-sizing: border-box;
  -webkit-user-drag: none;
}

.text-xxs{
  font-size: 0.625rem;
}
.common-text{
  color: #29292D;
font-size: 16px;
font-family: Maven Pro;
font-weight: 500;
}

.gray-text {
    color: $gray;
  }
  .background {
    background-color: $background;
  }
  .primary-color {
    color: $primary;
  }
  .dark-color {
    color: $dark;
  }
  .background-primary{
    background-color: $primary;
  }
  .background-gray{
    background-color: $gray;
    opacity: .5;
  }